# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data (no subir datasets)
# =========================
data/raw/
data/processed/

# =========================
# Model weights
# =========================
models/
*.pt
*.pth

# =========================
# YOLO outputs
# =========================
runs/
results/
*.cache

# =========================
# Editor / OS
# =========================
.vscode/
.DS_Store
Thumbs.db
