# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
.venv-yolo/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data (no subir datasets)
# =========================
data/raw/
data/processed/

# =========================
# Model weights
# =========================
models/*
!models/soccana_yolov8n.pt
*.pth

# =========================
# YOLO outputs
# =========================
runs/
results/
*.cache

# =========================
# Videos locales de prueba
# =========================
video.mp4
*.avi

# =========================
# Editor / OS
# =========================
.vscode/
.DS_Store
Thumbs.db
